
@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kode+Mono:wght@400..700&family=Margarine&family=Oswald:wght@200..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Twinkle+Star&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Indie+Flower&family=Patrick+Hand+SC&family=Playwrite+DE+Grund:wght@288&family=Rubik+Iso&family=Slackey&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kode Mono  ,  Sour Gummy ,  Slackey */

body{
    font-family : '','Kode Mono', monospace ;
}

